@page
@model RazorPagesFootball.Pages_FootBall.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Football</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Football.TeamName" class="control-label"></label>
                <input asp-for="Football.TeamName" class="form-control" />
                <span asp-validation-for="Football.TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Football.EstablishedDate" class="control-label"></label>
                <input asp-for="Football.EstablishedDate" class="form-control" />
                <span asp-validation-for="Football.EstablishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Football.Country" class="control-label"></label>
                <input asp-for="Football.Country" class="form-control" />
                <span asp-validation-for="Football.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Football.WinningTimes" class="control-label"></label>
                <input asp-for="Football.WinningTimes" class="form-control" />
                <span asp-validation-for="Football.WinningTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Football.BestPlayer" class="control-label"></label>
                <input asp-for="Football.BestPlayer" class="form-control" />
                <span asp-validation-for="Football.BestPlayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Football.CoachName" class="control-label"></label>
                <input asp-for="Football.CoachName" class="form-control" />
                <span asp-validation-for="Football.CoachName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Football.BestPlayerShirtNumber" class="control-label"></label>
                <input asp-for="Football.BestPlayerShirtNumber" class="form-control" />
                <span asp-validation-for="Football.BestPlayerShirtNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Football.CoachCountry" class="control-label"></label>
                <input asp-for="Football.CoachCountry" class="form-control" />
                <span asp-validation-for="Football.CoachCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
