@page "/BestPlayers"

<h1>Welcome to @myTheme - Best Player page</h1>
<p></p>

<button class="primary" @onclick="DisplayPlayerName">Show me the Best Players</button>
<input type="number" @bind="@limitOfPlayers" min="0" max="@PlayerNames.Length" bind ="limitOfPlayers">


<ol>
    @foreach (var PlayerName in PlayerNames.Take(limitOfPlayers))
    {
        <li>@PlayerName</li>
    }
</ol>


@code {
    private int limitOfPlayers = 5;

    private string[] PlayerNames { get; set; }

    private string myTheme = "Football Best Players";

    protected override void OnInitialized()
    {
        PlayerNames = new string[0];
    }

    private void DisplayPlayerName()
    {
        PlayerNames = new string[]
        {
            "Carlos Valderrama",
            "Ronaldo De Lima",
            "Ronaldinho",
            "Roberto Carlos",
            "Omar Gabriel Batistuta",
            "Ortega",
            "Maradona",
            "Zidan",
            "Kaka",
            "Cafu",
            "Casemiro"
        };
    }
}
