@page "/"

<h1>WELCOME to my @myFootball</h1>
<strong>DATE: @DateTime.Now</strong><br>
<small>Programmed using Blazor in ASP by @myName</small>

@code {
    string myFootball = "Best Football fan page";
    string myName = "Muhammed";

}


