@page "/"

<h1>Welcome to my football fan page @myTheme</h1>
<p>The current date and time you are visiting this website: @DateTime.Now.ToString("F")</p>
<small>Programmed by @myName</small>

@code {
    string myTheme = "Football Best Players";
    string myName = "Muhammed";
}