@page "/"

<h1>Welcome to my football fan page @myTheme</h1>
<h2>The current date and time you are visiting this website: @DateTime.Now.ToString("F")</h2>
<p>Programmed by @myName</p>

@code {
    string myTheme = "Football Best Players";
    string myName = "Muhammed";
}